.value{
    margin-top: 10rem;
    display:flex;
    max-width: 1280px;
    margin: auto;
    justify-content: center;
    gap:100px;
    padding: 2rem;
}
.secondaryText {
    color: #8c8b8b;
    font-size: .9rem;
}
.value-img img{
    border:8px solid rgb(232 232 232/93%);
    width:30rem;
    height:35rem;
    border-radius: 15rem 15rem 0 0;
}
.value-right{
    display: flex;
    flex-direction: column;
    gap:0.5rem;
}
.accordion{
    margin-top:2rem;
    border: none;
}
.accordionItem{
    background: white;
    border: 0.8px solid rgba(128, 128, 128, 0.143);
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: 20px;
}

.accordionButton{
    display: flex;
    align-items: center;
    background: white;
    padding:1rem;
    width:100%;
    justify-content: space-between;
    cursor: pointer;
}
.icon{
    padding:10px;
    background: #eeeeff;
    border-radius: 5px;
}
.icon svg{
    fill: blue;
}
.accordionButton .primaryText{
    font-size: 1.1rem;
}
@media(max-width:1200px){
    .value{
        flex-direction: column;
        align-items: center;
    }
}
@media(max-width:640px){
    .value-img{
        width:95%;
        height: 25rem;
    }
    .value-img img{
        width: 100%;
        height:100%;
    }
}